## Machine Learning in Python

*Prepared by:*
**Jude Michael Teves**

This is the answered copy of the exercise.

### Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns

sns.set_style('darkgrid')

sns.set_palette('Set2')
# sns.color_palette('Set2')

## Exercise: Diabetes dataset

 - Split the data into train and test sets. Train set should get 80% of the original set. Test set should get the remaining 20%.
 - Train a kNN model for this dataset. 
 - Return the score for the test set using the model you trained.

In [2]:
from sklearn import datasets

data_bunch = datasets.load_diabetes(return_X_y=False)
print(data_bunch['DESCR'])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, T-Cells (a type of white blood cells)
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, thyroid stimulating hormone
      - s5      ltg, lamotrigine
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [3]:
X, y = data_bunch['data'], data_bunch['target']

In [4]:
# your code here

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor

# train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# modeling
reg = KNeighborsRegressor()
reg.fit(X_train, y_train)
reg.score(X_test, y_test)

0.43016439526042805

## Exercise: Titanic Dataset

Let's revisit one of your favorite datasets: the Titanic. Similar to the previous exercise, do the following:

 - set the `Survived` column as your target.
 - Split the data into train and test sets. Train set should get 80% of the original set. Test set should get the remaining 20%.
 - Train a kNN and linear model for this dataset. 
 - Return the score for the test set using the model you trained.
 
Hint! Inspect your data first. You might need to do some preprocessing.

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/Cyntwikip/data-repository/main/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# your code here

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

# handle categorical data
df_processed = df.drop(['PassengerId','Name','Ticket','Cabin'], axis=1)
df_processed = pd.get_dummies(df_processed)

# split features/inputs and target/output
target = 'Survived'
X = df_processed.drop(target, axis=1)
y = df[target]

# train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# handle missing values
imputer = SimpleImputer(strategy="mean")
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

# # check what will happen with the scores if you uncomment this section
# # scaling
# scaler = StandardScaler()
# X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)

# modeling
clf = KNeighborsClassifier()
clf.fit(X_train, y_train)
score = clf.score(X_test, y_test)
print(f'KNN Score: {score:.2%}')

clf = LogisticRegression(random_state=42, max_iter=1000)
clf.fit(X_train, y_train)
score = clf.score(X_test, y_test)
print(f'Logistic Regression Score: {score:.2%}')

KNN Score: 70.39%
Logistic Regression Score: 81.01%

## End
<sup>made by **Jude Michael Teves**</sup> <br>
<sup>for comments, corrections, suggestions, please email:</sup><sup> <href>judemichaelteves@gmail.com</href> or <href>jude.teves@dlsu.edu.ph</href></sup><br>