# Python Machine Learning Quiz

*Prepared by:*
**Jude Michael Teves**  
Faculty, Software Technology Department  
College of Computer Studies - De La Salle University

## Problem 1: Sorting (2 pts)

Given the list below, return the indices of the elements sorted in descending order.

For example, if you initially have `[1, 9, 5, 7, 100, -20]`, return `[4, 1, 3, 2, 0, 5]`.

In [ ]:
X = [1, 9, 5, 7, 100, -20]

# YOUR CODE HERE

## Problem 2: Most Common Elements (2 pts)

Given a list of numbers, return the top 5 most common elements in `dict` format. The key is the element and the value is the count. The value could be in `int` or `float` data type.


For example:  

Input: `([0.37, 0.95, 0.73, 0.6 , 0.16, 0.16, 0.06, 0.87, 0.6 , 0.71, 0.02,
       0.97, 0.83, 0.21, 0.18, 0.18, 0.3 , 0.52, 0.43, 0.29, 0.61, 0.14,
       0.29, 0.37, 0.46, 0.79, 0.2 , 0.51, 0.59, 0.05, 0.61, 0.17, 0.07,
       0.95, 0.97, 0.81, 0.3 , 0.1 , 0.68, 0.44, 0.12, 0.5 , 0.03, 0.91,
       0.26, 0.66, 0.31, 0.52, 0.55, 0.18, 0.97, 0.78, 0.94, 0.89, 0.6 ,
       0.92, 0.09, 0.2 , 0.05, 0.33, 0.39, 0.27, 0.83, 0.36, 0.28, 0.54,
       0.14, 0.8 , 0.07, 0.99, 0.77, 0.2 , 0.01, 0.82, 0.71, 0.73, 0.77,
       0.07, 0.36, 0.12, 0.86, 0.62, 0.33, 0.06, 0.31, 0.33, 0.73, 0.64,
       0.89, 0.47, 0.12, 0.71, 0.76, 0.56, 0.77, 0.49, 0.52, 0.43, 0.03,
       0.11])`


Output: `{0.12: 3.0, 0.33: 3.0, 0.07: 3.0, 0.52: 3.0, 0.18: 3.0}`

In [ ]:
import numpy as np

np.random.seed(42)
X = np.around(np.random.random(100), 2)

# YOUR CODE HERE

## Problem 3: Numpy (2 pts)

Using the numpy array I have generated below, do the following:
 - retrieve the values that are greater than 0.5 or lower than -0.5
 - get the mean and standard deviation of the filtered array from above

In [ ]:
import numpy as np

np.random.seed(42) # ensures that numbers we are getting are consistent

nums = np.random.normal(loc=0, scale=1, size=(20))
nums

array([ 0.49671415, -0.1382643 ,  0.64768854,  1.52302986, -0.23415337,
       -0.23413696,  1.57921282,  0.76743473, -0.46947439,  0.54256004,
       -0.46341769, -0.46572975,  0.24196227, -1.91328024, -1.72491783,
       -0.56228753, -1.01283112,  0.31424733, -0.90802408, -1.4123037 ])

In [ ]:
# your code here

## Problem 4: Pandas (3 pts)

Using the Titanic dataset that I have already loaded for you, return the average fare of all female passengers who survived and have an age greater than 40.

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Cyntwikip/data-repository/main/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# your code here

## Problem 5: Reading Data and String Manipulation (5 pts)

- Read the logs from the following URL: https://raw.githubusercontent.com/Cyntwikip/data-repository/main/logs.txt
- Extract the year, month, day, hour, minute, second, IP address, and port

For example, given this input:
```
2018-07-12 10:53:32 - (network)[INFO][127.0.0.1:57534]: GET http://127.0.0.1:8081/v1/get/landuse?lng=121.02787971496582&lat=14.606591351724205&d=500  200 1883
2018-07-12 10:54:14 - (network)[INFO][127.0.0.1:57534]: GET http://127.0.0.1:8081/v1/get/landuse?lng=120.54113388061523&lat=14.67892177840028&d=500  200 1884
2018-07-12 10:54:17 - (network)[INFO][127.0.0.1:57534]: GET http://127.0.0.1:8081/v1/get/landuse?lng=120.27711868286133&lat=14.82400863570895&d=500  200 719
2018-07-12 10:54:20 - (network)[INFO][127.0.0.1:57534]: GET http://127.0.0.1:8081/v1/get/landuse?lng=120.91775894165039&lat=14.096787557861887&d=500  200 345
```

The output is:
```python
[{'year':2018, 'month':7, 'day':12, 'hour':10, 'minute':53, 'second':32, 'IP address': "127.0.0.1", 'port':57534},
 ...
]
```

In [ ]:
import requests

url = "https://raw.githubusercontent.com/Cyntwikip/data-repository/main/logs.txt"
logs = requests.get(url).text
logs

'2018-07-12 10:53:32 - (network)[INFO][127.0.0.1:57534]: GET http://127.0.0.1:8081/v1/get/landuse?lng=121.02787971496582&lat=14.606591351724205&d=500  200 1883\n2018-07-12 10:54:14 - (network)[INFO][127.0.0.1:57534]: GET http://127.0.0.1:8081/v1/get/landuse?lng=120.54113388061523&lat=14.67892177840028&d=500  200 1884\n2018-07-12 10:54:17 - (network)[INFO][127.0.0.1:57534]: GET http://127.0.0.1:8081/v1/get/landuse?lng=120.27711868286133&lat=14.82400863570895&d=500  200 719\n2018-07-12 10:54:20 - (network)[INFO][127.0.0.1:57534]: GET http://127.0.0.1:8081/v1/get/landuse?lng=120.91775894165039&lat=14.096787557861887&d=500  200 345'

In [ ]:
# your code here

## Problem 6: Distance Measurement (6 pts)

 - Implement Minkowski distance.
 - Don't use loops. Use Numpy.
 - Replace ```raise NotImplementedError``` with your code.


For reference, here is the formula for Minkowski Distance:  

$$Dist(\bar{X}, \bar{Y}) = ({\sum_i |x_i - y_i|^p})^{1/p}$$

---

Suppose our $p$ = 2 and reference $point$ = [0,0,0,0] and we are computing its distances from points $X_1$ = [0,0,0,0] and $X_2$ = [1,0,0,-1], we will get the following distances:

$Dist(X_1, point) $ = $(|0-0|^2 + |0-0|^2 + |0-0|^2 + |0-0|^2)^(1/2)$  
$Dist(X_1, point) $ = $0$

$Dist(X_2, point) $ = $(|1-0|^2 + |0-0|^2 + |0-0|^2 + |-1-0|^2)^(1/2)$  
$Dist(X_2, point) $ = $(1^2 + 1^2)^(1/2)$  
$Dist(X_2, point) $ = $2^(1/2)$  
$Dist(X_2, point) $ = $1.41421356$

In [ ]:
import numpy as np

def minkowski(X:np.array, point:np.array, p:int=2) -> list:
  '''
  Returns a list of distances of each elements in X from the reference point.
  '''
  # YOUR CODE HERE
  raise NotImplementedError
  return distances

Do not edit the code below.

In [ ]:
from numpy.testing import assert_almost_equal

np.random.seed(42)
point = np.random.random(4)
X = np.random.random((20,4))
distances = minkowski(X, point)
assert_almost_equal(distances, [1.09774861, 0.86841359, 1.10905113, 0.60903535, 0.98072682,
                                0.56968608, 1.03147907, 0.44086692, 0.87176598, 0.9243569 ,
                                0.52845927, 0.83891382, 0.66689687, 1.09444027, 0.72774615,
                                0.75235112, 0.50286829, 0.41483762, 1.13954092, 0.89056474])

print('Passed test!')

Passed test!

## End
<sup>made by **Jude Michael Teves**</sup> <br>
<sup>for comments, corrections, suggestions, please email:</sup><sup> <href>judemichaelteves@gmail.com</href> or <href>jude.teves@dlsu.edu.ph</href></sup><br>