## Machine Learning: Random Forest

*Prepared by:*  
**Jude Michael Teves**  
Faculty, Software Technology Department  
College of Computer Studies - De La Salle University

<!-- <sup>Some parts were from the notebooks I created for the Data Science Short Course program under Data Science Institute - De La Salle University</sup> <br> -->

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [51]:
# from sklearn.datasets import load_iris

# X, y = load_iris(return_X_y=True)
# print(X.shape, y.shape)

## Data Loading

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/Cyntwikip/data-repository/main/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [37]:
df_encoded = df[['Pclass', 'Sex', 'Age', 'Fare', 'Survived']]
df_encoded = df_encoded.dropna()
X = pd.get_dummies(df_encoded.drop(['Survived'], axis=1))
y = df_encoded['Survived']

In [38]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      714 non-null    int64
 1   Age         714 non-null    float64
 2   Fare        714 non-null    float64
 3   Sex_female  714 non-null    uint8
 4   Sex_male    714 non-null    uint8
dtypes: float64(2), int64(1), uint8(2)
memory usage: 23.7 KB

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Decision Tree

In [40]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
print(model)

model.fit(X_train, y_train)
score = model.score(X_train, y_train)
print(f"Train Score: {score}")
score = model.score(X_test, y_test)
print(f"Test Score: {score}")

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')
Train Score: 0.9912434325744308
Test Score: 0.7132867132867133

## Random Forest

In [50]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=20, max_depth=10)
print(model)

model.fit(X_train, y_train)
score = model.score(X_train, y_train)
print(f"Train Score: {score}")
score = model.score(X_test, y_test)
print(f"Test Score: {score}")

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=10, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
Train Score: 0.9544658493870403
Test Score: 0.7972027972027972

## Exercise

Try modeling this dataset: https://raw.githubusercontent.com/Cyntwikip/data-repository/main/illness.csv

## End
<sup>made by **Jude Michael Teves**</sup> <br>
<sup>for comments, corrections, suggestions, please email:</sup><sup> <href>judemichaelteves@gmail.com</href> or <href>jude.teves@dlsu.edu.ph</href></sup><br>